.movie-info {
    width: 100%;
    height: calc(100vh - 50px);
    margin-top: 60px;
    background-size: cover;
    background-repeat: no-repeat;
}

.movie-detail {
    width: 90%;
    height: 100%;
    background: rgb(24, 24, 24);
    background: linear-gradient(90deg, rgba(24, 24, 24, 1), rgba(24, 24, 24, 0) 100%);
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.movie-name {
    font-size: 30px;
    font-weight: 500;
}

.movie-genres {
    opacity: 0.6;
    margin: 30px 0;
}

.movie-description {
    width: 70%;
    line-height: 20px;
    margin-bottom: 30px;
}

.starring span {
    opacity: 0.6;
}

.trailer-container,
.recommendations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    padding: 40px;
}

.heading {
    display: flex;
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
    justify-content: center;
}

iframe {
    width: 340px;
    height: 200px;
    padding: 10px;
}

.recommendations-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.movie p {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: unset;
}


/* Tablet Media Query */
@media screen and (min-width:768px) {

    .movie-detail {
        width: 70%;
    }

    .movie-name {
        font-size: 40px;
    }

    .heading {
        font-size: 35px;
    }

    iframe {
        width: 400px
    }
}


/* Desktop Media Query */

@media screen and (min-width:1024px) {

    .movie-detail {
        width: 50%;
    }

    .movie-name {
        font-size: 50px;
    }

    .heading {
        font-size: 40px;
    }

    iframe {
        width: 400px
    }

    /* Movie title hover effect in desktop mode only */

    .movie p {
        opacity: 0;
    }

    .movie:hover p {
        opacity: 1;
    }
}