/* Contact container styling */

.contact-container {
    display: flex;
    height: 600px;
    margin: 0;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 80px;
}

/* Contact form styling*/
form {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

/* Contact form header styling */
form h3 {
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

/* Contact form input field styling */
form input,
form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #e6e2e2;
    font-size: 16px;
    border-radius: 10px;
}

#username {
    height: 30px;
}

#email {
    height: 30px;
}

#phone {
    height: 30px;
}

#zip {
    height: 30px;
}

#message {
    height: 150px;
}

/* Regular expression styling */
#username-error {
    color: red;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 24px;
    display: none;
}

#email-error {
    color: red;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 24px;
    display: none;
}

#phone-error {
    color: red;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 24px;
    display: none;
}

#zip-error {
    color: red;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 24px;
    display: none;
}

/* Contact form button styling */

.button {
    padding: 15px;
    background: blue;
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 80px;
    margin: 20px auto 0;
    border-radius: 10px;
}


/* Tablet Media Query */

@media screen and (min-width:768px) {

    body {
        background-image: url(/img/theater.jpg);
        background-size: cover;
    }

    form {
        background-color: #181818;
    }

    form h3 {
        font-weight: 600;
        font-size: 20px;
    }

    #username {
        height: 40px;
    }

    #email {
        height: 40px;
    }

    #phone {
        height: 40px;
    }

    #zip {
        height: 40px;
    }

    #message {
        height: 175px;
    }
}

/* Desktop Media Query  */

@media screen and (min-width:1024px) {

    body {
        background-image: url(/img/theater.jpg);
        background-size: cover;
    }

    form {
        background-color: #181818;
    }

    form h3 {
        font-weight: 700;
        font-size: 22px;
    }

    #username {
        height: 50px;
    }

    #email {
        height: 50px;
    }

    #phone {
        height: 50px;
    }

    #zip {
        height: 50px;
    }

    #message {
        height: 200px;
    }
}